html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin:0;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5 rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color:#e74b32;
  color: #faf1ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.ourlogo{
  max-width: 20rem;
  max-height: 6rem;
}
.brand a{
  color: #faf1ef;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;

}
.header-links a{
  color:#faf1ef;
  text-decoration: none;
}
.header-links a:hover{
  color: black;
}
.main{
  grid-area: main;
  padding-bottom: -10%;
}
.footer{
  grid-area: footer;
  background-color: #e74b32;
  color: #faf1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
a{
  text-decoration: none;
}
a:hover{
  color:black;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: 60rem;
  height: 100%;
}

.products li {
  list-style-type: none;
  padding: 0;

  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom:  0.1 rem #c0c0c0 solid;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-rating{
  margin-bottom: 1rem;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}

/*side-bar*/
.brand button{
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#faf1ef;
  cursor:pointer;
}
.sidebar{
  
  position: fixed;
  transition: all .5sec;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #e74b32;
  height:100%;
}
.sidebar.open{
  transform: translateX(0);
}
.sidebar-close{
  border-radius: 50%;
  border: 0.1rem black solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  
}
/*product details*/
.details{
  display: flex;
  justify-content : space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
  widows: 100%;
}
.details-info {
  flex: 1 1 00rem;
}
.details-action {
  flex: 1 1 30rem;
}
.details-info li, .details-action li{
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;

}
.back-to-result{
  padding: 1rem;
}
.details-action{
  border: .1rem;
  border-color: #e74b32 solid;
  border-radius: 0.5rem;
  background-color: #faf1ef;
  padding: 1rem;
}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button{
  padding: 1rem;
  border: .1rem;
  border-top: #faf1ef solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover{
  border: .1rem;
  border-color: antiquewhite solid;
}
.button.primary{
  background-color: #e74b32;
}